*.swp
__pycache__
apks/*.apk
.env/
android/android-studio
android/tools
android/.knownPackages
android/licenses
android/patcher
android/system-images
android/emulator
android/platform-tools
android/sdk
android/platforms
android/build-tools
artifacts/*.png
artifacts/*.jpg
.mypy_cache
.coverage
